*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

:root{
    --size: 60px;
    --rad: 4px;
    --fsize: 1.2rem;
    }

@media screen and (max-width: 1000px){
    :root{
    --size: 200px;
    --rad: 8px;
    --fsize: 4rem;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #450000,#5e0000);
    overflow: hidden;

}

.text{
    font-size: var(--fsize);
    color: white;
    top: 5px;
    
}

.table{
    display: none;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-top: 30px;
  
}

.first, .second{
    width: calc(var(--size) *2);
    height: calc(var(--size) *2);
    background: rgba(255,255,255,.5);
    border-radius: var(--rad);
    margin: 20px;
    display: block;
    overflow-wrap: break-word;
    white-space: normal;

}

.panel{
    display: none;
    position: relative;
    margin-top: 20px;
}

.dodawanie {
    position: relative; 
    display: grid;
    font-size: var(--fsize);
    align-items: center;
}

.dodawanie .wyswietl{
    grid-column: span 4;
    height: var(--size);
    border: 1px solid rgba(0,0,0,.60);
    text-align: center;
    width: 100%;
    max-width: calc(var(--size) *4);
    outline: none;
    padding: 10px;
    font-size: var(--fsize);
    background: rgba(255,255,255,.70);
    border-radius: var(--rad);
}

.dodawanie span{
    display: grid;
    border: 1px solid rgba(0,0,0,.50);
    width: var(--size);
    height: var(--size);
    outline: none;
    background: rgba(255,255,255,.50);
    place-items: center;
    border-radius: var(--rad);
    pointer-events: none;
}

.dodawanie span:active{
    background: rgba(255,255,255,.70) !important;
}

.disabled{
    pointer-events: none !important;
    background: rgba(255,255,255,.2) !important;
}

.dodawanie span.reset{
    background: #ff3030a4;

}

.dodawanie span.special{
    grid-row: span 2;
    height: calc(var(--size)*2);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background: #058085;
}

.dodawanie span.apply{
    background: #038118;
    grid-column: span 4;
    width: calc(var(--size)*4);
}

.names{
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 400px;
    top: 50%;
    font-size: var(--fsize);
}

.names input{
    font-size: var(--fsize);
    align-self: center;
    width: calc(var(--size)*4);
    height: var(--size);
    margin-bottom: 20px;
}

.apply{
    display: inline-block;;
    background: #009c1a;
    width: calc(var(--size)*4);
    height: var(--size);
    border: none;
    font-size: var(--fsize);
}