<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" maximum-scale=1.0, user-scalable=0">
    <title>UNO</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/script.js" type="text/javascript"></script>
</head>
<body>
    <div class="table" id="table">
        <div class="first" id="first" onclick="enableForm('points-first')">
            <span class="text" name="name-first" id="name-first"><%= data.p1 %></span><br>
            <span class="text" id="points-first"><%= data.p1points %></span><br>
        </div>
        <div class="second" id="second" onclick="enableForm('points-second')">
            <span class="text" name="name-second" id="name-second" ><%= data.p2 %> </span><br>
            <span class="text" id="points-second"><%= data.p2points %></span>
        </div>
    </div>
    <div class="panel" id="panel">
        <form class="dodawanie" name="dodaj" id="dodaj" action="/update" method="POST">
            <input type="text" name="player" id="player" style="display : none">
            <input class="num wyswietl disabled" type="text" name="suma" id="suma" readonly="" value="0">
            <span class="num disabled" onclick="sum(1)">1</span>
            <span class="num disabled" onclick="sum(2)">2</span>
            <span class="num disabled" onclick="sum(3)">3</span>
            <span class="num special disabled" onclick="sum(10)">Specjalna</span>
            <span class="num disabled" onclick="sum(4)">4</span>
            <span class="num disabled" onclick="sum(5)">5</span>
            <span class="num disabled" onclick="sum(6)">6</span>
            <span class="num disabled" onclick="sum(7)">7</span>
            <span class="num disabled" onclick="sum(8)">8</span>
            <span class="num disabled" onclick="sum(9)">9</span>
            <span class="num reset disabled" onclick="clearPoints()">C</span>
            <button type="submit" class="num apply disabled" onsubmit="submitPoints()" >Zatwierdź</button>
        </form>
    </div>
    <div class="reloadPanel">
        <a href="/reload" class="reload2">Odśwież</a>
        <a href="/reload" class="reload2">Zakończ</a>
    </div>

</body>
</html>
