<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" maximum-scale=1.0, user-scalable=0">
    <title>UNO</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/script.js" type="text/javascript"></script>
</head>
<body>
    <div class="names" id="names">
        <form action="/set" method="POST">
            <input type="text" name="p1" id="p1" placeholder="Player 1" maxlength="9" required><br>
            <input type="text" name="p2" id="p2" placeholder="Player 2" maxlength="9" required><br>
            <input type="number" name="eP" id="endPoints" placeholder="Do ilu punktów?" required>
            <button type="submit" class="apply">Start</button>
        </form>
    </div>
</body>
</html>
