<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" maximum-scale=1.0, user-scalable=0">
    <title>UNO</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/script.js" type="text/javascript"></script>
</head>
<body>
    <div class="names" id="names">
        <form action="/set" method="POST">
            <input type="text" name="p1" id="p1" placeholder="Gracz 1" maxlength="9" required>
            <input type="text" name="p2" id="p2" placeholder="Gracz 2" maxlength="9" required>
            <input type="text" name="p3" id="p3" placeholder="Gracz 3" maxlength="9"  style="display : none">
            <input type="text" name="p4" id="p4" placeholder="Gracz 4" maxlength="9"  style="display : none">
            <input type="number" name="eP" id="endPoints" placeholder="Do ilu punktów?" required>
            <a style="color :white">Ilość graczy: </a><output style="color :white" id="ilGr">2</output>
            <input type="range" name="iloscGraczy" class="slider" value="2" min="2" max="4" oninput="updateTextInput(this.value);">
            <button type="submit" class="apply">Start</button>
        </form>
    </div>
</body>
</html>
