*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

:root{
    --size: 60px;
    --rad: 4px;
    --fsize: 1.2rem;
    }

@media screen and (max-width: 1000px){
    :root{
    --size: 200px;
    --rad: 8px;
    --fsize: 4rem;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #c90000,#810000);
    overflow: hidden;

}

.text{
    font-size: var(--fsize);
    color: white;
    top: 5px;
    
}

.table{
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-top: 10px;
  
}

.first, .second{
    width: calc(var(--size) *2);
    height: calc(var(--size) *1);
    background: rgba(0,0,0,0.25);
    border-radius: var(--rad);
    margin: 0px 10px 0px 10px;
    display: block;
    overflow-wrap: break-word;
    white-space: normal;

}

.panel{
    display: flex;
    position: relative;
    margin-top: 10px;
}

.dodawanie {
    position: relative; 
    display: grid;
    font-size: var(--fsize);
    align-items: center;
}

.dodawanie .wyswietl{
    grid-column: span 4;
    height: var(--size);
    border: none;
    text-align: center;
    width: calc(var(--size)*4 + calc(var(--rad)*3));
    margin-left: calc(var(--rad)/2);
    margin-bottom: calc(var(--rad)/2);
    outline: none;
    padding: 10px;
    font-size: var(--fsize);
    color: #c9c9c9;
    background: rgba(0,0,0,0.30);
    border-radius: var(--rad);
    box-shadow: 1px 1px var(--rad) black;
}

.dodawanie span{
    display: grid;
    margin: calc(var(--rad)/2);
    border: none;
    width: var(--size);
    height: var(--size);
    outline: none;
    color: #c9c9c9;
    background: rgba(0,0,0,0.15);
    place-items: center;
    border-radius: var(--rad);
    pointer-events: none;
    box-shadow: 1px 1px var(--rad) black;
}

.dodawanie span:active{
    background: rgba(255,255,255,.70) !important;
}

.disabled{
    pointer-events: none !important;
    background: rgba(255,255,255,.2) !important;
    box-shadow: none !important;
}

.dodawanie span.reset{
    background: #ba0b0b;

}

.dodawanie span.special{
    grid-row: span 2;
    height: calc(var(--size)*2 + var(--rad));
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background: #076a6e;
}

.dodawanie button.apply{
    background: rgba(0,255,0,0.5);
    grid-column: span 4;
    width: calc(var(--size)*4 + calc(var(--rad)*3));
    margin: calc(var(--rad)/2);
    margin-right: 0px;
    border: none;
    outline: none;
    border-radius: var(--rad);
    color: #ededed;
    box-shadow: 1px 1px var(--rad) black;
}

.names{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    flex-direction: column;
    font-size: var(--fsize);
}

.names input{
    display : block;
    font-size: var(--fsize);
    width: calc(var(--size)*4);
    height: var(--size);
    margin-bottom: 20px;
    background: rgba(0,0,0,0.8);
    border : none;
    padding : 5px;
    color: white;
}

.apply{
    display: inline-block;
    background: #009c1a;
    width: calc(var(--size)*4);
    height: var(--size);
    border: none;
    font-size: var(--fsize);
}

.reloadPanel{   
    margin-top: calc(var(--size)/3) ;
}

.reload{
    color: #c9c9c9;
    background: rgba(0,0,0,0.25);
    text-decoration: none;
    font: var(--fsize) Verdana;
    border: 1px solid rgba(0,0,0,.50);
    outline: none;
    border-radius: var(--rad);
    margin: 10px;
    padding: calc(var(--size)/3.5) calc(var(--size)/3.5) calc(var(--size)/3.5) calc(var(--size)/3.5);
}

.new{
    background: #009c1a;
    width: calc(var(--size)*4);
    text-align: center;
}

input[type=range] {
  -webkit-appearance: none; 
  width: calc(var(--size)*4); 
  margin: 0px;
  background: transparent; 
}

input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(0,0,0,0.8);
    border-radius: calc(var(--size)/5); 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(var(--size)/3); 
    width: calc(var(--size)/3); 
    border-radius: 50%;
    background-color: #009c1a;
}

.anim {
  animation: anim 0.3s;
}

@keyframes anim {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.bye {
  animation: bye 0.3s;
}

@keyframes bye {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
